<%- include('../includes/head.ejs') %>
  </head>
  <body>
    <main>
      <% if(errorMessage){ %>
        <h1><%= errorMessage %></h1>
        <% } %>
      <form action="/signup" method="POST">
        <label for="name">Name</label>
        <input name="name" type="text" value="<%= oldInput.name  %>"/>
        <label for="password">Password</label>
        <input name="password" type="password" value="<%= oldInput.password  %>"/>
        <button type="submit">Signup!</button>
      </form>
    </main>
  </body>
</html>
