<%- include('../includes/head.ejs') %>
  </head>
  <body>
    <main>
      <% if(contactList.length > 0) {%> <% contactList.forEach(contact => { %>
      <article>
        <header>
          <h2><%= contact.surname %>, <%= contact.name %></h2>
          <a href="/contacts/<%= contact._id %>">Detail</a>
        </header>
      </article>
      <% }) %> <% } else { %>
      <h1>There are no contacts on your list</h1>
      <% } %>
    </main>
  </body>
</html>
